<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- === EF: conexión a SnakeAndLaddersDB === -->
	<connectionStrings>
		<add name="SnakeAndLaddersDBEntities1"
			 providerName="System.Data.EntityClient"
			 connectionString="
         metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;
         provider=System.Data.SqlClient;
         provider connection string='Data Source=(local);
             Initial Catalog=SnakeAndLaddersDB;
             Integrated Security=True;
             MultipleActiveResultSets=True;
             Encrypt=False;TrustServerCertificate=True;App=EntityFramework'"/>
	</connectionStrings>


	<!-- === WCF === -->
	<system.serviceModel>
		<!-- Sin bindings personalizados; usamos basicHttp y netTcp por defecto -->

		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>


		<services>
			<!-- UserService -->
			<service behaviorConfiguration="mexBehavior"
					 name="SnakeAndLadders.Host.Services.UserService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8085/User"/>
						<add baseAddress="net.tcp://localhost:8095/User"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding"
						  contract="SnakeAndLadders.Contracts.Services.IUserService" />
				<endpoint address="" binding="netTcpBinding"
						  contract="SnakeAndLadders.Contracts.Services.IUserService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			</service>	

			<!-- AuthService -->
			<service behaviorConfiguration="mexBehavior"
					 name="SnakeAndLadders.Host.Services.AuthService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8085/Auth"/>
						<add baseAddress="net.tcp://localhost:8095/Auth"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding"
						  contract="SnakeAndLadders.Contracts.Services.IAuthService" />
				<endpoint address="" binding="netTcpBinding"
						  contract="SnakeAndLadders.Contracts.Services.IAuthService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
