<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="SnakeAndLaddersDBEntities1" connectionString="metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=laptopirene\sqlexpress;initial catalog=TestSnakeAndLaddersDB;user id=UsuarioProyecto1;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>